/* background */

.background{
    width: 100%;
    height:100vh;
}

canvas{
    z-index: 0;
    display:block;
    vertical-align:bottom;
    position: absolute;
    top:0;
    left:0;
  }
  
  #particles-js{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #b61924; */
    background-image: linear-gradient(to bottom right, #00FFFF 35%, #00FF00);
    /* background-image: url(''); */
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .myForm{
    background: url('https://img2.thuthuatphanmem.vn/uploads/2018/11/30/anh-nen-mau-trang-hong_104324112.jpg');
    width: 500px;
    z-index: 100;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    /* animation: animateSlide 1s forwards; */
  }
  .myForm .card{
    background:transparent;
    border:none;
  }
  .myForm .card .btnLR button{
    width: 50%;
    font-size:25px;
    font-weight:100;
    padding:10px 20px;
    text-align: center;
    border-radius: 0;
    /* outline: none; */
  }
  .myForm .card .btnLR {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  /* form login */
  
  .FormLogin input,.FormReg input{
    margin-top:30px;
    width: 100%;
    height:30px;
    border:none;
    border-bottom:1px solid #D3D3D3;
    background: transparent;
    outline: none;
  }
 .FormLogin label,.FormReg label{
    pointer-events: none;
    position: absolute;
    top:28px;
    left:0px;
    /* color:gray; */
    font-size:20px;
    font-weight:100;
    transition:all 0.3s;
  }
  
  .FormLogin .PassWord{
    position: relative;
  }
  .FormLogin .Account{
    position: relative;
  }

  
  .FormLogin .loginSubmit{
    text-align: center;
 }
 .FormLogin .loginSubmit button, .FormReg .RegSubmit button{
    width:100%;
    border-radius:20px;
    outline:none;
    font-size:20px;
    margin:20px 0;
    text-transform: uppercase;
    padding:5px 0;
 }
 .FormLogin ul{
   width: 60%;
   margin:auto;
   padding-bottom: 15px;
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .FormLogin ul li{
   
    border-radius:50%;
    padding:5px 10px;
    text-align: center;
    margin-left:0px;
    text-align: center;
    font-size:20px;
    box-shadow:  0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
 }
 .FormLogin ul li a{
   color:white;
 }
 .FormLogin ul li:nth-child(1){
   padding:5px 15px;
   background: #3b5998;
  
 }
 .FormLogin ul li:nth-child(2){
  padding:5px 13px;
  background: #55acee;
 
}
.FormLogin ul li:nth-child(3){
  padding:5px 13px;
  background: #0082ca;
 
}
.FormLogin ul li:nth-child(4){
  padding:5px 13px;
  background: #333;
 
}
.FormLogin p:last-child{
  border-top:1px solid #D3D3D3;
  padding-top:10px;
  margin-bottom: 0;
  color:gray;
}

 /* registration */
  .FormReg .UserName{
    position: relative;
  }
  .FormReg .UserName input{
    width: 90%;
  }
  .FormReg .AccountR{
    position: relative;
  }

  .FormReg .PassWordR{
    position: relative;
  }
  .FormReg .Email{
    position: relative;
  }
  .FormReg .PhoneNumber{
    position: relative;
  }
  .FormReg .PhoneNumber input{
    width: 90%;
  }
  .FormReg p{
    border-top:1px solid #D3D3D3;
    padding-top:10px;
    margin-bottom: 0;
    color:gray;
  }
 
    input:focus ~ label,input:focus ~ label{
    color: red;
    transform: translateY(-20px);
    font-size:15px;
  }
  input:focus{
    border-bottom:1px solid blue;
  }
  button{
    outline: none;
  }

  @keyframes animateSlide{
    0%{
      transform: scale(0.2);
    }
    100%{
      transform: scale(1);
    }

  } 